.protect-vis {
  background-color: #006a4e;
  padding: 20px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.pro-h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: "Cormorant SC", Sans-serif;
}

.appointment-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.req-call {
  background-color: #ffa701;
  border-color: #ffa701;
  border-radius: 8px 8px 8px 8px;
  height: 36px;
  width: 185px;
}

.talk-what {
  background: none;
  border-color: white;
  border-radius: 8px 8px 8px 8px;
  margin-left: 10px;
  height: 36px;
  width: 257px;
}
.footer {
  background-color: #129485;
  color: white;
  padding: 40px 20px;
}

.footergrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.col {
  width: 22%;
  min-width: 200px;
}

.footer-logo {
  width: 180px;
  margin-bottom: 15px;
}

.footer-contact p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.footer-contact i {
  margin-right: 10px;
}

.footer-social {
  margin-top: 15px;
}

.footer-social a {
  color: white;
  margin-right: 15px;
  font-size: 25px;
}

.footer-column h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}

.footer-divider {
  border-top: 1px solid white;
  margin: 40px 0;
}

.footer-locations {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.location-item {
  flex: 1;
  min-width: 200px;
  box-shadow: none !important;
}

.location-item p {
  margin-top: 5px;
}

.footer-credits {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.location-name {
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.loc-address{
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .footergrid {
    flex-direction: column;
  }

  .appointment-buttons {
    flex-direction: column;
    gap: 10px;
    display: flex;
    align-items: center;
  }
  .protect-vis {
    flex-direction: column;
    margin:0;
  }
  .pro-h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 12px;
    font-family: "Cormorant SC", Sans-serif;
}
  .footer-divider {
    border-top: 1px solid white;
    margin: 10px 0;
}
}
