.profile-header {
  position: fixed;
  top: 10;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  background-image: linear-gradient(129deg, #129485 47%, #a1d76e 100%);
  color: white;
  margin-left: 0px;
  height: 85px;
  width: 100%;
}

.header-logo img {
  width: 32%;
  padding-left: 33px;
  margin-right: 350px;
}

.header-nav {
  list-style: none;
  display: flex;
  margin: -55px 0px 0px 0px;
  align-items: center;
  height: 85px;

  padding-right: 80px;
}

.header-nav li {
  cursor: pointer;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border-width: 0px 1px 0px 0px;
  border-color: #ffffff80;
  padding: 0px 30px 0px 30px;
  display: flex;
  align-items: center;
  height: 85px;
}

.header-nav li:hover {
  background-color: #ffa701;
}
.nav-icon {
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

/* navbar */

.aboveNav {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding: 8px 120px 10px 0px;
}
.list-text {
  color: #006a4e;
  transition: color 0.3s;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.list-text:hover {
  color: #ffa701;
}

.headerBanner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 84px;
}

.headerBanner img {
  width: 100%;
  height: 230px;
}

/* drop down */


.megamenu-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  margin-top: 23px;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
  width: 600px;
  /* top:100% !important; */
}


.p-megamenu-grid {
    display: flex;
    width: 657px;
    /* width:100% !important; */
}

.p-megamenu .p-submenu-header {
  margin: 0;
  padding: 0rem 1.25rem;
  color: #374151;
  background: #ffffff;
  font-weight: 700;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.dropdown-item:hover {
  /* background-color: #f0f0f0; */
  /* border-radius: 4px; */
  border: none !important;
  background-color: transparent;
}
/* 
.megamenu-container:hover .dropdown-content {
  display: flex;
} */

.dropdown-column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.dropdown-item i {
  margin-right: 8px;
}

.eye-img {
  width: 40px;
  height: 40px;
  padding-right: 5px;
}

.header-container-unique {
  position: relative;
}

.megamenu-container-unique {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content-unique {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
  width: auto;
}

.dropdown-column-unique-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
  gap: 20px; /* Space between the grid items */
  padding: 10px;
}

.dropdown-column-unique {
  display: flex;
  flex-direction: row;
  /* margin-right: 20px; */
  align-items: center;
}

.center-image-unique {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.center-name-unique {
  font-size: 16px;
  color: #838383;
  text-align: center;
  font-weight: bold;
  padding-left: 20px;
   white-space: nowrap;
}

/* .megamenu-container-unique:hover .dropdown-content-unique {
  display: flex;
} */


.p-megamenu {
  display: flex;
  justify-content: center;
  background: transparent !important;
  border: none !important;
  width: 100%;
  padding: 0;
}

.p-megamenu
  .p-megamenu-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-submenu-icon {
  color: #ffffff;
  margin-left: 0.5rem;
  /* display: none; */
}

.p-megamenu
  .p-megamenu-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  color: #006a4e;
  background: #ffa700;
}
.p-megamenu .p-menuitem.p-menuitem:not(.p-highlight):not(.p-disabled).p-focus>.p-menuitem-content{
  color:white !important;
  background: #2A9F81;
}
.p-megamenu
  .p-megamenu-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link {
  padding: 25px 1.25rem;
  -webkit-user-select: none;
  user-select: none;
  border-left: 1px solid white;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  height: 85px;
}

.pi-bars:before {
  content: "\e91d";
  color: white;
  font-size: 35px;
}

.megamenu-container .p-menuitem-content:nth-child(4) {
  background-color: #ffa701;
}

.p-megamenu .p-menuitem.p-highlight > .p-menuitem-content {
  color: white;
  background: transparent;
  background-color: #ffa701;
}
.book-apt {
  background-color: #ffa701;
  padding: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 85px;
}
/* .p-submenu-list {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  width: 500px;
} */

.p-megamenu-horizontal .p-megamenu-root-list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;
}
.hamburger-menu-button {
  float: right;
  margin-right: 20px;
}

.hamburger-menu-sidebar {
  width: 750px;
}

.hamburger-menu-items ul {
  list-style: none;
  padding: 0;
}

.hamburger-menu-items ul li {
  padding: 10px 0;
  /* border-bottom: 1px solid #ddd; */
  cursor: pointer;
  font-size: 16px;
}

.hamburger-menu-social {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hamburger-menu-contact {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.p-sidebar .p-sidebar-header + .p-sidebar-content {
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 768px) {

  .megamenu-container .p-menuitem-content:nth-child(4) {
    background-color: #129485;
  }
  
  .p-megamenu-col-2, .p-megamenu-col-3, .p-megamenu-col-4, .p-megamenu-col-6, .p-megamenu-col-12 {

    font-size: 14px !important;
}

  .p-megamenu .p-menuitem.p-highlight > .p-menuitem-content {
    color: white;
    background: transparent;
    background-color: #129485;
  }
  .aboveNav {
    list-style: none;
    display: none;
    gap: 20px;
    justify-content: flex-end;
    padding: 8px 120px 10px 0px;
  }
  .header-logo img {
    width: 79%;
    padding: 0px;
    margin: 0px;
  }

  .profile-header-mobile {
    position: fixed;
    top: 10;
    z-index: 1000;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: transparent;
    background-image: linear-gradient(129deg, #129485 100%, #a1d76e 100%);
    color: white;
    margin-left: 0px;
    height: 85px;
    width: 100%;
  }
  
  .p-megamenu .p-megamenu-root-list {
    display: flex;
    background: #129485;
    width: 100%;
    margin-top: -7px;
    justify-content: center;
}
  .p-megamenu .p-megamenu-button {
    display: none;
  }
  .book-apt {
    display: none !important;
  }

  .p-megamenu
    .p-megamenu-root-list
    > .p-menuitem
    > .p-menuitem-content
    .p-menuitem-link {
    padding: 25px 0px;
    -webkit-user-select: none;
    user-select: none;
    border-left: 1px solid #8ac0d7;
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    padding-left: 5px;
  }
  .p-megamenu .p-megamenu-root-list > .p-menuitem:first-child > .p-menuitem-content .p-menuitem-link {
    border-left: none;
}

  .nav-icon {
    width: 29px;
    height: 36px;
    margin-right: 8px;
  }
  .pi-bars:before {
    content: "\e91d";
    color: white;
    font-size: 35px;
    display: none;
}
.center-image-unique {
  width: 120px;
  height: auto;
  margin-bottom: 8px;
  border-radius: 4px;
  display: none;
}
/* .p-menuitem-link{
  display: none;
} */
.eye-img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  color: #006a4e;
  display: none;
}
.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-content:hover,
  .p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-content:active,
  .p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-content:focus {
    background-color: #ffa701 !important; /* Ensure hover, focus, and active states are the same */
    color: white !important;
  }

  /* Ensure selected (highlighted) menu item background color also changes */
  .p-megamenu .p-menuitem.p-highlight > .p-menuitem-content {
    background-color: #ffa701 !important;
    color: white !important;
  }

  .p-megamenu .p-menuitem > .p-menuitem-content {
    background-color: transparent; /* Default background */
    color: white;
    /* padding-left: 5px; */
  }
  ul {
    list-style-type: none; /* Remove bullets from all unordered lists */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  .transparent-button {
    font-size: 24px;
    background-color: transparent !important; 
    border: none; 
    color: #ffffff !important;
    cursor: pointer;
    padding: 0px 10px 0px 0px;
  }

}
